.barra_lateral{
    margin-left: 15px;
}

.barra_lateral p{
    color: black;
}

.barra_tarefas {
    flex-direction: column;
    margin-top: 250px;
}

/* .BARRA_TAREFAS DIV para usar a margem em todas as divs da barra lateral de uma vez */
.barra_tarefas div {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    width: 260px;
    height: 60px;
    text-align: start;
}

.barra_tarefas p{
    display: flex;
    margin-left: 15%;
    padding-top: 15px;
    font-size: 20px;
}

.barra_tarefas .cadastrar_empresa{
    height: 70px;
    background: black;
}

.barra_tarefas .cadastrar_empresa p{
    color: white;
}

.barra_tarefas .quem_somos{
    background-color: grey;
}

.barra_tarefas .quem_somos p{
    color: black;
}

.anuncio {
    width: 260px;
    height: 500px;
    background-color: grey;
    border-radius: 5px;
    margin-top: 10px;
}

.anuncio p{
    display: flex;
    justify-content: center;
}


.linha {
    width: 260px;
    border: 1px solid grey;
    
}