.box {
  width: 600px;
  height: 700px;
  border-radius: 40px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  margin-top: 100px;
  position: block;
}

.usuario p{
    font-size: 20px;
    text-align: start;
    margin-top: 100px;
    margin-bottom: 7px;
    margin-left: 80px;
    color: black;
  }

.input {
  width: 500px;
  height: 5vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid black;
  margin-bottom: 20px;
  color: black;
}

.usuario .input:focus{
  outline: 1px solid rgb(137, 137, 167);
  padding: 0 20px;
}

.senha .input:focus{
  outline: 1px solid rgb(137, 137, 167);
  padding: 0 20px;
}
  
  /* PLACEHOLDER = TEXTO DENTRO DO INPUT*/
.usuario input::placeholder {
    padding-left: 20px;
    font-size: 15px;
  }
  
  /* TIRANDO SETAS QUE APARECEM AO CLICAR NO INPUT */
.usuario  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  
  /* O ARQUIVO ESTAVA COM DISPLAY:BLOCK, DESTRAVEI ELE PARA PODER MUDAR A POSICAO*/
.loginText {
    display: flex;
  }
  
.loginText span {
    font-size: 50px;
    color: black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
.senha p{
    font-size: 20px;
    text-align: start;
    margin-bottom: 7px;
    margin-left: 80px;
    color: black;
  }

  
/* PLACEHOLDER = TEXTO DENTRO DO INPUT*/
.senha input::placeholder {
    padding-left: 20px;
    font-size: 15px;
  }
  
/* TIRANDO SETAS QUE APARECEM AO CLICAR NO INPUT */
.senha  input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.login button{
  color: black;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  text-decoration: none;
  background: #D9D9D9;
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.login .link_login p {
  font-size: 20px;
}

.login .link_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login button:hover{
  cursor: pointer;
}

.cadastrar p{
  color: black;
  text-align: center;
  text-decoration: underline;
}

.esqsenha {
    color: #479aff;
    margin-top: 90px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}
